<table summary="Profile form fields">
  <tr>
    <th>Name</th>
    <td><%= f.text_field(:name) %></td>
    <th>Active?</th>
    <td><%= f.check_box(:active) %></td>
    <th>Avatar URL</th>
    <td><%= f.text_field(:avatar_url) %></td>
  </tr>
  <tr>
</table>