<div class="profiles show">
  <h2>Show Profile</h2>

  <table summary="Profile detail view">
    <tr>
      <th>Id</th>
      <td><%= @profile.id %></td>
    </tr>
    <tr>
      <th>Name</th>
      <td><%= @profile.name %></td>
    </tr>
    <tr>
  </table>

</div>