<% if flash[:alert] || (defined?(resource) && resource&.errors&.any?) %>
  <div
    class="global-top-alert alert alert-danger fade show alert-dismissible"
    role="alert"
    data-controller="global-alert"
  >
    <div>
      <strong>Please fix the following errors:</strong>
      <ul class="mb-0 ps-3" style="font-weight: 500;">
        <% if flash[:alert] %>
          <li><%= flash[:alert] %></li>
        <% end %>
        <% if defined?(resource) && resource&.errors&.any? %>
          <% resource.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <button
      type="button"
      class="btn-close"
      data-action="global-alert#close"
      aria-label="Close"
    ></button>
  </div>
<% end %> 