<div class="mb-3">
  <%= link_to new_room_path, class: 'btn btn-primary' do %>Create a Room<% end %>
</div>

<% if @favorite_rooms.present? %>
  <nav class="nav flex-column">
    <% @favorite_rooms.each do |room| %>
      <%= link_to room.name, room_path(room), class: 'nav-link room-nav-link' %>
    <% end %>
  </nav>
<% else %>
  <div class="text-muted">
    You have no favorited rooms.
  </div>
<% end %>