
$secondary: #C0C0C0;

.avatar {
  max-height:30px;
  border-radius: 15px;
  width:auto;
  vertical-align:middle;
}

.room-nav-link {
  border: 1px solid lighten($primary, 40%);
  background: lighten($primary, 45%);
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis; 

  & + .room-nav-link {
    border-top: 0 none;
  }
}

.room-main-link {
  border: 1px solid #000000;
  background-color: $secondary;
  color: #ffffff;
  border-radius: 50%;
  text-align: center;
  width: 150px;
  height: 150px;
  padding-top: 30px;
  margin: 7px;
  overflow: hidden;
  word-wrap: break-word;
  overflow-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
}

.room-main-link:hover {
  background-color: darken($secondary, 10%);
  color: #ffffff;
}

.chat {
  border: 1px solid lighten($secondary, 40%);
  background: lighten($secondary, 50%);
  height: 50vh;
  border-radius: 5px 5px 0 0;
  overflow-y: auto;

  .chat-message-container {
  padding: 5px;

  .avatar {
    margin: 5px;
  }

  .message-content {
    padding: 5px;
    border: 1px solid $primary;
    border-radius: 5px;
    background: lighten($primary, 10%);
    color: $white;
  }

  & + .chat-message-container {
    margin-top: 10px;
  }
}
}

.chat-input {
  border-top: 0 none;
  border-radius: 0 0 5px 5px;
}

.favorit-btn {
  float:right;
  margin-top: -55px;
}