
.profile-main-link {
	font-size: 20px;
	background-image: url(https://gravatar.com/avatar/e968a77d9736b0b14415b02aa76f71f7.png);
	background-size: cover;
	color: #ffffff;
	text-align: center;
	width: 200px;
	height: 200px;
	overflow: hidden;
	word-wrap: break-word;
	overflow-wrap: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

.profile-main-container a:hover {
	text-decoration: none;
}

.profile-main-container {

}

.profile-action-container {
	margin-left: 40px;
	margin-right: auto;
	bottom: 30px;
	position: absolute;
}

.profile-action-btn {
	background-color: #ffffff;
	border: solid black 1px;
	padding: 5px 10px;
}

.profile-action-btn:hover {
	background-color: #666666;
	color: #ffffff;
}

.profile-name {
	background-color: rgba(46, 49, 49, .5);
	color: #ffffff;
}