.profile-container {
	border: 1px solid black;
	border-radius: 50%;
    width: 150px;
    height: 150px;
	text-align: center;
	background-image: url(https://gravatar.com/avatar/e968a77d9736b0b14415b02aa76f71f7.png);
	background-size: cover;
    border-radius: 50%;
}