@import "views/record_builder";

/* Builder-only cursor behavior: wrappers are interactive */
.record-field-placeholder,
.record-partial-placeholder {
  cursor: pointer;
}

.gjs-dashed *[data-gjs-highlightable] {
  outline: none !important;
}