<% content_for :navbar do %>
  <%= render 'shared/navbar_admin' %>
<% end %>

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="mb-0">New Organization</h3>
        </div>
        <div class="card-body">
          <%= render "form", organization: @organization %>
        </div>
      </div>
    </div>
  </div>
</div>
